---
import Social from './Social.astro';
const today = new Date();
---

<footer>
	No copyright, do whatever you want.
	<div class="social-links">
	<Social platform="github" username="Sage-Root" title="Github" svg="public/social/github.svg" />
	<Social platform="youtube" username="@Sage_Root" title="Youtube" svg="public/social/youtube.svg" />
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
