---
const { platform, username, title } = Astro.props;
import Github from '../public/social/github.svg';
import Youtube from '../public/social/youtube.svg';
---
<a href={`https://www.${platform}.com/${username}`} target="_blank">
		<span class="sr-only">Go to Sage's {title} account</span>
		<Github />
</a>
<style>
  a {
    padding: 0.5rem 1rem;
    color: gray;
    background-color: #4c1d9500;
    text-decoration: none;
  }
</style>
